
.jumbotron {
    background: url("https://www.mcgill.ca/newsroom/channels/news/biodiversity-its-own-catalyst-point-328209") no-repeat center center fixed;
    background-size: cover;
    height: 300px;
    color: white
  }